<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header class="site-header">
  <div class="logo">
    


</div>
<nav class="nav-bar">
    <ul>
        <li><a href="/">Login</a></li>
        
        <li><a href="#sobre">Sobre Nós</a></li>
        <li><a href="#Inicial">Página Inicial</a></li>
    </ul>
</nav>
<div class="search-cart">
    <div class="search-bar">
        <input type="text" placeholder="Buscar móveis..." aria-label="Buscar">
        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <a href="/">Voltar para Login</a>

    </div>
    <div class="cart">
        <span class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></span>
        <span class="cart-text"></span>
    </div>
</div>
</header>
<footer>
<div class="footerContainer">
  <div class="socialIcons">
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
      <i class="fa-brands fa-square-instagram"></i>
    </a>
    <a href="https://twitter.com" target="_blank" aria-label="Twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
</div>
</footer>
<div class="productContainer">
  <div class="productCard">
    <img src="sofa.jpg" alt="Sofá Moderno" class="productImage" />
    <h3 class="productTitle">Sofá Moderno</h3>
    <p class="productDescription">Confortável e elegante, ideal para sua sala.</p>
    <p class="productPrice">R$ 1.499,00</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="mesa.jpg" alt="Cadeira de Escritório" class="productImage2" />
    <h3 class="productTitle">Mesa de Jantar</h3>
    <p class="productDescription">Mesa de jantar vibrante e moderna, com design ousado que chama a atenção.</p>
    <p class="productPrice">R$ 950,00</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="cozinha.jpg" alt="Cadeira de Escritório" class="productImage3" />
    <h3 class="productTitle">Cozinha Completa</h3>
    <p class="productDescription">Cozinha completa, prática e moderna, com armários espaçosos, balcão resistente e acabamento em MDF de alta qualidade.</p>
    <p class="productPrice">R$ 2499,90</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="colchão.png" alt="Colchão" class="productImage4" />
    <h3 class="productTitle">Colchão Comfort Sealed - Solteiro</h3>
    <p class="productDescription">Colchão confortável e ergonômico, desenvolvido com materiais de alta qualidade para garantir uma noite de sono tranquila e revigorante.</p>
    <p class="productPrice">R$ 499,99</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="cama.png" alt="Cama de casal" class="productImage5" />
    <h3 class="productTitle">Cama de casal</h3>
    <p class="productDescription">Projetada para proporcionar noites de sono tranquilas e confortáveis, esta cama de casal combina funcionalidade e estilo.</p>
    <p class="productPrice">R$ 699,90</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="guarda-roupa.png" alt="Guarda-roupa" class="productImage6" />
    <h3 class="productTitle">Guarda-roupa Casal</h3>
    <p class="productDescription">Ideal para espaços reduzidos, este guarda-roupa compacto oferece praticidade e organização.</p>
    <p class="productPrice">R$ 899,90</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="geladeira1.png" alt="geladeira" class="productImage7" />
    <h3 class="productTitle">Geladeira Consul Frost Free Duplex com Espaço Flex</h3>
    <p class="productDescription">Geladeira compacta e funcional, projetada para otimizar o espaço em ambientes menores. Com capacidade suficiente para armazenar itens essenciais.</p>
    <p class="productPrice">R$3.006,03</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="fogao1.png" alt="fogao" class="productImage8" />
    <h3 class="productTitle">Fogão Consul 5 bocas</h3>
    <p class="productDescription">Fogão compacto e eficiente, ideal para cozinhas com espaço reduzido.</p>
    <p class="productPrice">R$ 1.749,00</p>
    <button class="buyButton">Comprar</button>
  </div>
  <div class="productCard">
    <img src="freezer1.png" alt="freezer" class="productImage9" />
    <h3 class="productTitle">Freezer Horizontal Consul 2 portas</h3>
    <p class="productDescription">Freezer compacto e versátil, ideal para armazenar alimentos congelados em espaços limitados.</p>
    <p class="productPrice">R$ 3.539,00</p>
    <button class="buyButton">Comprar</button>
  </div>
</div>
