<div class="container">
    

    <section>
        <div class="email-senha">
            <h1>Login</h1>

            <input type="Email" name="email" id="email">
            <input type="Senha" name="Senha" id="Senha">
            <p class="esquecisenha">ESQUECI MINHA SENHA</p>
            <button class="botao-entrar">ENTRAR</button>
        </div>
        <div class="cadastro">
            <h1>Cadastro</h1>

            <input type="nome" name="nome" id="nome">
            <input type="e-mail" name="e-mail" id="e-mail">
            <input type="senha" name="senha" id="senha">
            <button class="botao-registrar">REGISTRAR</button>
        </div>
    </section>

</div>