.cabecalho{
    display: flex;
    align-items: center;
    text-align: center;

}

   

section{
    display: flex;
    
}     

.botao-registra{
    color: aliceblue;
    background-color: black;
    margin: 100px;


}
.botao-entrar{
    color: aliceblue;
    background-color: black;
}
.serv{
    font-weight: 700;
    
}
.esquecisenha{
    color: black;
    font-weight: 700;
}
.container{
    background-color: green;
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
    
}
.email-senha{
   
    display: flex;
    flex-direction: column;
    width: 20%;


}
.cadastro{
    display: flex;
    flex-direction: column;
    width: 20%;
    

}