
.container{
    height: 100vh;
    background-color: green;
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}     


.botao-registra{
    color: aliceblue;
    background-color: black;
    margin: 100px;


}
.botao-entrar{
    color: aliceblue;
    background-color: black;
}


.email-senha{
   
    display: flex;
    flex-direction: column;
    width: 20%;

}
.cadastro{
    display: flex;
    flex-direction: column;
    width: 20%;
    

}